@{
    ViewData["Title"] = "Home Page";
}
<style>
    .carousel-item {
  height: 80vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
</style>

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <!-- Slide One - Set the background image for this slide in the line below -->
      <div class="carousel-item active" style="background-image: url('https://cdn.pixabay.com/photo/2016/03/09/09/22/workplace-1245776_1280.jpg')">
        <div class="carousel-caption d-none d-md-block">
          <h2 class="display-4">Bienvenido</h2>
        </div>
      </div>
      <!-- Slide Two - Set the background image for this slide in the line below -->
      <div class="carousel-item" style="background-image: url('https://cdn.pixabay.com/photo/2018/05/04/10/30/team-3373638_1280.jpg')">
        <div class="carousel-caption d-none d-md-block">
          <h2 class="display-4">Este repositorio esta hecho para proyectos de la Universidad Popular Del Cesar</h2>
        </div>
      </div>
      <!-- Slide Three - Set the background image for this slide in the line below -->
      <div class="carousel-item" style="background-image: url('https://cdn.pixabay.com/photo/2016/03/09/09/17/computer-1245714_1280.jpg')">
        <div class="carousel-caption d-none d-md-block">
          <h2 class="display-4">Podras ver los proyectos registrados de los alumnos</h2>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
  </div>